version: "3.9"
secrets:
  authelia_jwt_secret:
    external: true
  authelia_session_secret:
    external: true
  # authelia_storage_postgres_password:
  #   external: true
  authelia_storage_encryption_key:
    external: true
services:
  authelia:
    image: docker.io/authelia/authelia:latest
    # restart: unless-stopped
    secrets:
      - authelia_jwt_secret
      - authelia_session_secret
      # - authelia_storage_postgres_password
      - authelia_storage_encryption_key
    environment:
      AUTHELIA_JWT_SECRET_FILE: /run/secrets/authelia_jwt_secret
      AUTHELIA_SESSION_SECRET_FILE: /run/secrets/authelia_session_secret
      # AUTHELIA_STORAGE_POSTGRES_PASSWORD_FILE: /run/secrets/authelia_storage_postgres_password
      AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE: /run/secrets/authelia_storage_encryption_key
    deploy:
      placement:
        constraints:
          - node.labels.worker == true
      labels:
        - 'traefik.enable=true'
        - 'traefik.docker.network=traefik-public'
        - 'traefik.constraint-label=traefik-public'
        - 'traefik.http.routers.authelia.tls=true'
        - 'traefik.http.routers.authelia.tls.certresolver=main'
        - 'traefik.http.routers.authelia.rule=Host(`{{ authelia.domain_name }}`)'
        - 'traefik.http.routers.authelia.entrypoints=https'
        - 'traefik.http.services.authelia.loadbalancer.server.port=9091'
        - 'traefik.http.middlewares.authelia.forwardAuth.address=http://authelia:9091/api/verify?rd=https%3A%2F%2F{{ authelia.domain_name }}%2F'
        - 'traefik.http.middlewares.authelia.forwardAuth.trustForwardHeader=true'
        - 'traefik.http.middlewares.authelia.forwardAuth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Name,Remote-Email'
    networks:
      traefik-public: {}
    volumes:
    - /data/swarm/authelia/config:/config

networks:
  traefik-public:
    # Communicate between Traefik and any other service that is in the public network
    external: true
