[Unit]
Description=HypernodeProxy
After=network-online.target
Wants=network-online.target

[Service]
Restart=on-failure
RestartSec=5s
ExecStart=/home/alex/bin/jumphost.sh

[Install]
WantedBy=multi-user.target
