ui = true
log_level = "INFO"

cluster_addr = "https://127.0.0.1:8201"
api_addr = "https://127.0.0.1:8200"

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = 1
}

storage "raft" {
  path = "/vault/data"
  node_id = "{{ ansible_hostname }}"
}
