# {{ ansible_managed }}

datacenter = "{{ datacenter }}"
data_dir = "/data/nomad"

advertise {
  http = "{{ tailscale_ip }}"
  rpc  = "{{ tailscale_ip }}"
  serf = "{{ tailscale_ip }}"
}

server {
  enabled = true
  bootstrap_expect = {{ groups['nomad_servers'] | length }}
}

client {
  enabled = true
  network_interface = "tailscale0"
  host_network "public" {
    interface = "{{ external_interface }}"
    reserved_ports = "80,443"
  }
  host_network "private" {
    interface = "tailscale0"
    reserved_ports = "80,443"
  }

  {% for volume in nomad_volumes %}
  host_volume "{{ volume.name }}" {
    path      = "{{ volume.dir }}"
    read_only = {{ volume.read_only | default('false') }}
  }
  {% endfor %}
}
