#jinja2: lstrip_blocks: "True"
# configure custom zone files as per https://coredns.io/2017/05/08/custom-dns-entries-for-kubernetes/
zoneFiles:
  - filename: alex_systems.db
    domain: alex.systems
    contents: |-
      $ORIGIN alex.systems.  ; designates the start of this zone file in the namespace
      $TTL 60s               ; default expiration time of all resource records without their own TTL value
      @                 IN  SOA     ns.alex.systems. alex.systems. (
                                        2022040114     ; Serial
                                        1d             ; Refresh
                                        2h             ; Retry
                                        4w             ; Expire
                                        1h)            ; Minimum TTL
      @                 IN  A       {{ hostvars[groups['k3s_servers'][0]].tailscale_ip }}       ; Local IPv4 address for alex.systems.
      @                 IN  NS      ns.alex.systems.   ; Name server for alex.systems.
                        IN  NS      a.iana-servers.net.
                        IN  NS      b.iana-servers.net.
      *                 IN  CNAME   @                  ; Alias for name server (points to alex.systems.)

# https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns-configmap-options

prometheus:
  service:
    enabled: true

# We're exposing this as an external nameserver
isClusterService: false
service:
  loadBalancerIP: {{ floating_ip }}
  externalIPs:
  - {{ floating_ip }}

servers:
- plugins:
  - name: errors
  - name: health
    configBlock: lameduck 5s
  - name: ready
  - name: prometheus
    parameters: 0.0.0.0:9153
  - name: file
    parameters: /etc/coredns/alex_systems.db alex.systems
  - name: loop
  - name: reload
  - name: loadbalance
  - name: log
  port: 53
  zones:
  - zone: alex.systems.
