config:
  max_open_trades: 6
  stake_currency: USDT
  stake_amount: unlimited
  tradable_balance_ratio: 0.99
  fiat_display_currency: EUR
  timeframe: 5m
  dry_run: false
  force_entry_enable: true

  unfilledtimeout:
    entry: 15
    exit: 15
    exit_timeout_count: 0

  order_types:
    entry: limit
    exit: limit
    emergency_exit: limit
    force_entry: limit
    force_exit: limit
    stoploss: limit
    stoploss_on_exchange: false
    stoploss_on_exchange_interval: 60

  entry_pricing:
    price_side: other
    use_order_book: false
    order_book_top: 1
    price_last_balance: 0.0

  exit_pricing:
    price_side: other
    use_order_book: false
    order_book_top: 1
    price_last_balance: 0.0

  exchange:
    name: binance
    key: "{{ freqtrade.binance.key }}"
    secret: "{{ freqtrade.binance.secret }}"
    ccxt_config:
      enableRateLimit: false
      rateLimit: 0
    ccxt_async_config:
      enableRateLimit: false
      rateLimit: 0
    pair_whitelist:
      - ".*/USDT"
    pair_blacklist:
      # Exchange
      - "(BNB)/.*"
      # Leverage
      - ".*(_PREMIUM|BEAR|BULL|HALF|HEDGE|UP|DOWN|[1235][SL])/.*"
      # Fiat
      - "(AUD|BRZ|CAD|CHF|EUR|GBP|HKD|IDRT|JPY|NGN|RUB|SGD|TRY|UAH|USD|ZAR)/.*"
      # Stable
      - "(BUSD|CUSD|CUSDT|DAI|PAXG|SUSD|TUSD|USDC|USDN|USDP|USDT|VAI|UST|USTC)/.*"
      # FAN
      - "(ACM|AFA|ALA|ALL|APL|ASR|ATM|BAR|CAI|CITY|FOR|GAL|GOZ|IBFK|JUV|LAZIO|LEG|LOCK-1|NAVI|NMR|NOV|OG|PFL|PORTO|PSG|ROUSH|SANTOS|STV|TH|TRA|UCH|UFC|YBO)/.*"
      # Others
      - "(1EARTH|ILA|BOBA|CTXC|CWAR|HBAR|NMR|OMG|ONG|ARDR|DMTR)/.*"
  pairlists:
    # - method: "StaticPairList"
    - method: "VolumePairList"
      number_assets: 100
      sort_key: "quoteVolume"
      refresh_period: 1800
    - method: "AgeFilter"
      min_days_listed: 20
    - method: "RangeStabilityFilter"
      lookback_days: 3
      min_rate_of_change: 0.03
      refresh_period: 1800
    - method: "VolatilityFilter"
      lookback_days: 3
      min_volatility: 0.02
      max_volatility: 0.75
      refresh_period: 43200
    - method: "VolumePairList"
      number_assets: 80
      sort_key: "quoteVolume"
    - method: "ShuffleFilter"
  edge:
    enabled: false
    process_throttle_secs: 3600
    calculate_since_number_of_days: 7
    allowed_risk: 0.01
    stoploss_range_min: -0.01
    stoploss_range_max: -0.1
    stoploss_range_step: -0.01
    minimum_winrate: 0.60
    minimum_expectancy: 0.20
    min_trade_number: 10
    max_trade_duration_minute: 1440
    remove_pumps: false
  telegram:
    enabled: true
    token: "{{ telegram.token }}"
    chat_id: "{{ telegram.chat_id }}"
  bot_name: freqtrade
  initial_state: running
  download_trades: true
  api_server:
    enabled: true
    listen_ip_address: 0.0.0.0
    listen_port: 8080
    username: "{{ freqtrade.api.username }}"
    password: "{{ freqtrade.api.password }}"
  dataformat_ohlcv: "jsongz"
  dataformat_trades: "jsongz"
image:
  image: freqtradeorg/freqtrade
  tag: 2022.7
backtesting:
  enabled: false
  download_data: true
  timerange: "20220601-"
  timeframes: 5m
  strategy_list: "NostalgiaForInfinityX SampleStrategy"
  fee: null
  pvc_size: 5Gi
  results:
    enable_export: true
    reader_enabled: true
    pvc_size: 2Gi
bot:
  enabled: true
  verbosity: info
  strategy_name: NostalgiaForInfinityX
  pvc_size: 10Gi
  volumeMounts:
  - mountPath: /freqtrade/user_data/strategies
    name: strategydir
  volumes:
  - name: strategydir
    hostPath:
      path: /tmp/strategies
      type: DirectoryOrCreate
  resources:
    requests:
      cpu: 1200m
      memory: 2048M
    limits:
      cpu: 1200m
      memory: 2048M
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/whitelist-source-range: {{ ",".join(trusted_ips) | regex_replace("\n", "") }}
    cert-manager.io/cluster-issuer: letsencrypt-prod
  host: freqtrade.alex.systems
  tls:
    enabled: true
create_config_configmap: true
create_strategies_configmap: true
