ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    nginx.ingress.kubernetes.io/whitelist-source-range: {{ ",".join(trusted_ips) | regex_replace("\n", "") }}
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
  - grafana.alex.systems
  tls:
  - secretName: grafana-tls
    hosts:
    - grafana.alex.systems
persistence:
  enabled: true
  size: 5Gi

#datasources:
#  - name: Prometheus
#    type: prometheus
#    url: http://prometheus-server.monitoring.svc.cluster.local:9090
#    isDefault: true
#  - name: Prometheus
#    type: prometheus
#    url: http://prometheus-server.monitoring.svc.cluster.local:9090

#notifiers:
#  - name: Telegram
#    type: telegram
#    botToken: "{{ telegram.token }}"
#    chatId: "{{ telegram.chat_id }}"
#    isDefault: true
