harborAdminPassword: {{ harbor.password }}
externalURL: https://harbor.alex.systems
expose:
  type: ingress
  ingress:
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      core: harbor.alex.systems
      notary: notary.harbor.alex.systems
  tls:
    enabled: true
    certSource: secret  # Generate with certmanager
    secret:
      notarySecretName: "harbor-notary-ingress"
      secretName: "harbor-ingress"
persistence:
  persistentVolumeClaim:
    registry:
      size: 50Gi
    chartmuseum:
      size: 10Gi
