[Unit]
Description=Start xscreensaver daemon without splash

[Service]
Type=oneshot
ExecStart=/bin/bash /home/alexander/.config/xscreensaver/start_xscreensaver_daemon.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
