# {{ ansible_managed }}

# Full configuration options can be found at https://www.consul.io/docs/agent/options.html

ca_file = "/etc/consul.d/consul-agent-ca.pem"
cert_file = "/etc/consul.d/{{ inventory_hostname }}.pem"
key_file = "/etc/consul.d/{{ inventory_hostname }}-key.pem"
verify_incoming = true
verify_outgoing = true
verify_server_hostname = true

datacenter = "{{ datacenter }}"
data_dir = "/data/consul"
server = true

ui_config{
  enabled = true
}

# Advertise addr - if you want to point clients to a different address than bind or LB.
advertise_addr = "{{ tailscale_ip }}"
bind_addr = "{{ tailscale_ip }}"
client_addr = "0.0.0.0"

# List all servers, extract tailscale_ip from its hostvars and join em up
retry_join = ["{{ nomad_tailscale_ips | join ('", "') }}"]

bootstrap_expect={{ groups['nomad_servers'] | length }}
encrypt = "{{ consul_secret_key | trim }}"
