# {{ ansible_managed }}

server = true
bootstrap_expect = {{ groups['nomad_servers'] | length }}

# client_addr
# The address to which Consul will bind client interfaces, including the HTTP and DNS
# servers. By default, this is "127.0.0.1", allowing only loopback connections. In
# Consul 1.0 and later this can be set to a space-separated list of addresses to bind
# to, or a go-sockaddr template that can potentially resolve to multiple addresses.
client_addr = "{{ tailscale_ip }}"
