users:
  alex:
    disabled: false
    displayname: "Alex"
    # Generate with "docker run authelia/authelia:latest authelia hash-password banaan"
    password: "$argon2id$v=19$m=65536,t=3,p=4$VolByKMR5h1802+5YK/WzQ$E2kZF3TfNylFTzXL5swrht1W/FOVqFeehmCeVVcNiJ4"
    email: alexandergrooff@gmail.com
    groups:
      - admins
      - dev
